*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: auto;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px; /* Increased margin to separate buttons */
  justify-content: space-between;
}
nav ul li a:hover {
  background-color: #4caf50;
}
/* Estilos para las cards del index */
.container-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.card-category {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 1rem;
  overflow: hidden;
}
.category-blogs,
.category-descripciones,
.category-redaccion {
  background-image: linear-gradient(#e0ede880, #cbf4c680),
    url("assets/book-4109187_640.png");
  background-size: cover;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
.card-category p {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-category span a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.card-category span a:hover {
  color: #0cebeb;
}
/* Estilos footer */
footer {
  width: 100%;
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-top: 1px solid #e9ecef;
}
footer p {
  font-size: 1.25rem;
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  text-align: center;
}
footer #iconos {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
footer #iconos a {
  font-size: 1.5rem;
  transition: color 0.4s;
  color: #fff;
}
footer #iconos a:hover {
  color: #a1ffce;
}
/* Estilos para la página de contacto */
.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(246, 242, 242, 0.1);
}
.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(19, 151, 158);
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: rgb(19, 151, 158);
  outline: none;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: rgb(19, 151, 158);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0cebeb;
}
nav button {
  background-color: #0cebeb; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  margin: 5px; /* Espaciado externo */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  width: 100%;
}
nav button:hover {
  background-color: #81c586; /* Color de fondo al pasar el cursor */
}
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card p {
  color: #0cebeb;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a:hover {
  background-color: #111;
}
/* Estilos para la página de contacto */
.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}
form {
  display: flex;
  flex-direction: column;
}
.contact-container form {
  margin-bottom: 15px;
}
.contact-container form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #666;
}
input,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
textarea {
  resize: vertical;
  height: 100px;
}
.contact-container form button {
  padding: 10px 15px;
  background-color: #53ac90;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #53ac90;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
}
.container-headr {
  max-width: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
/* Logo */
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* Encabezado */
h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* Botón de menú hamburguesa */
.menu-btn {
  margin-right: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
/* Estilos para tablets (media queries) */
@media (max-width: 768px) {
  .container-headr {
    margin-left: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .menu-btn {
    margin-right: 20px;
  }
}
nav {
  width: 100%;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}

nav ul li {
  align-items: flex-start;
}
nav ul li a {
  padding: 8px 15px;
  background-color: #53ac90;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: #53ac90;
  transition: box-shadow 0.3s ease;
}
a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a.shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
/* Contenedor principal */
.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.historia {
  margin-bottom: 40px;
}
.historia h2 {
  font-size: 28px;
  color: #878585;
  margin-bottom: 15px;
}
.historia p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}
/* Estilos para las cards */
.staff .personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card p {
  margin-top: 0;
}
.persona {
  background-color: #fff;
  width: 32%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.persona h5 {
  font-size: 20px;
  margin: 15px;
  color: #666;
}
.persona h6 {
  font-size: 16px;
  margin: 0 15px 10px 15px;
  color: #666;
}
.persona p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  margin: 0 15px 15px 15px;
}
/* Media Queries ... luego pasa a 2 cards x linea*/
@media (max-width: 992px) {
  .persona {
    width: 48%;
  }
}
/* Media Queries ... luego pasa a 1 card x linea*/
@media (max-width: 424px) {
  .persona {
    width: 100%;
  }
}

button.agregar {
  background-color: #53ac90;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
nav button {
  color: white;
  margin: 5px; /* Espaciado externo */
  border: none; /* Sin borde */
  border-radius: 3px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  font-family: initial;
}
section .container-categories {
  margin: 2px;
}
main h1 {
  text-align: center;
}
main p {
  margin: 20px;
  color: #666;
}
main h2 {
  margin: 20px;
  color: #666;
  text-align: center;
}
h3,
h4 {
  color: #53ac90;
  text-align: center;
}
.shopping-cart {
  position: relative;
}
/* para que la imagen del carrito sea blanca y no negra */
.shopping-cart img {
  filter: invert(1);
}
.shopping-cart:hover {
  color: #53ac90;
  cursor: pointer;
}
#contador-carrito {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #8df747;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.ifr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: olivedrab;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 2, 0, 0.3);
}
.ifr iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* Ocultar el nav y el h1 cuando el ancho es menor a 425px */
@media (max-width: 424px) {
  nav,
  h1 {
    display: none;
  }
  .menu-btn {
    display: inline-block;
  }
  .dropdown-menu {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}
/* Mostrar el nav y el h1, y ocultar el menu-btn cuando el ancho es mayor o igual a 425px */
@media (min-width: 425px) {
  nav,
  h1 {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  .dropdown-menu {
    display: none;
  }
}

/* Estilos para la página de contacto */
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  text-align: center;
  border-bottom: 1px solid grey;
  padding-top: 1em;
}
.listado-productos {
  display: grid;
  gap: 0.5em;
}
.listado-productos article {
  padding: 0.5em;
  border: 1px solid gray;
}
@media screen and (min-width: 768px) {
  .listado-productos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .listado-productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position below the menu button */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
}
.dropdown-menu.show {
  position: relative; /* Cambiado de relativo a absoluto */
  display: flex;
  flex-direction: column;
  top: 100%; /* Asegura que esté justo debajo del botón de menú */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px; /* Ajusta el ancho según sea necesario */
}

body {
  overflow: auto;
}
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu ul li {
  padding: 10px 12px;
  width: 90%;
}
.dropdown-menu ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.dropdown-menu ul li a:hover {
  background-color: #ddd;
}
.dropdown-menu ul li a.active {
  background-color: #53ac90;
}

#img-tienda {
  width: 100px;
  height: 100px;
}

/* Estilos para las cards .container article*/
.container article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container article p {
  margin-top: 0;
}
.container article {
  background-color: #fff;
  width: 32%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container article p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  margin: 0 15px 15px 15px;
}
/* Media Queries ... luego pasa a 2 cards x linea*/
@media (max-width: 992px) {
  .container article {
    width: 48%;
  }
}
/* Media Queries ... luego pasa a 1 card x linea*/
@media (max-width: 424px) {
  .container article {
    width: 100%;
  }
}