h1 {
  color: rgb(11, 206, 24);
  font-size: 50px;
}

.parrafo{
  color: rgb(144, 11, 206);
  background-color: rgb(246, 206, 212);
  font-size: 20px;
}

main{
  color: rgb(206, 11, 11);
  background-color: rgb(206, 246, 212);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #af53cf;
  margin-right: 2px;
}

nav ul li a:hover {
  background-color: #111;
}

/* Estilos para la página de contacto */
.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container form .form-group {
  margin-bottom: 15px;
}

.contact-container form .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-container form .form-group input,
.contact-container form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-container form .form-group textarea {
  resize: vertical;
  height: 100px;
}

.contact-container form button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-container form button:hover {
  background-color: #0056b3;
}

nav {
  background-color: #e0e0e0;
  padding: 10px 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 20px;
  background-color: #af53cf;
  border-radius: 5px;
  text-align: center;
  margin-right: 2px;
}

nav ul li a:hover {
  background-color: #111;
  color: #fff;
}

holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}